* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}


img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 0%;

}

h2 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-size: 40px;
}


h4 {
    font-size: 25px;
}

section {
    margin-bottom: 20px;
}



.half-width {
    width: 50%;
}


/* header style start */

a {
    font-size: 30px;
    margin-left: 10%;
    text-decoration: none;
    padding-top: 5%;
}

.header-bg {
    background-color: bisque;
    width: 100%;
    height: 2cm;
    margin-bottom: 3px;
}

#searchbar {
    width: 30%;
    padding: .75%;
    margin-top: 1%;
    margin-left: 2%;

}


/* header style end */

/* top Banner style start */

.top-banner {
    background-image: url(images/22033.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 0%;
    color: aliceblue;

}

/* top Banner style end */

/* Telawat Stayle start */

#id-1 {

    padding-left: 3%;

}

#id-2 {
    width: 100%;
    text-align: right;
    margin-right: 1%;
}

.half-width-a {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: bisque;
    box-shadow: 10px 10px 40px rgb(11, 221, 46);
    padding-top: 0%;
    padding-bottom: 1%;

}

#myBtn {
    margin-right: 2%;
    width: 50%;
    height: 1cm;
    border-radius: 5px;
    border-color: blue;
    background-color: bisque;
    color: rgb(85, 78, 78);
    align-items: center;
}

/* Telawat Stayle end */

/* naat style start */
#id-3 {
    width: 100%;
    text-align: left;
    margin-left: 1%;
}

.half-width-b {
    display: flex;
    align-items: top;
    margin-top: 10px;
    background-color: bisque;
    box-shadow: 10px 10px 40px rgb(63, 24, 240);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 2%;
}

#myBtn-2 {
    margin-right: 2%;
    width: 100%;
    height: 1cm;
    border-radius: 5px;
    border-color: rgb(250, 172, 76);
    background-color: bisque;
    color: rgb(85, 78, 78);
    padding-right: 2%;


}

/* naat style end */

/* footer style start */

.footer-bg {
    background-color: rgb(66, 99, 243);
    width: 100%;
    height: 3cm;
    display: flex;

}

#id-4 {
    width: auto;
    height: .5cm;
    text-decoration: none;
    margin-left: 1%;
    background-color: rgb(66, 99, 243);
    color: aliceblue;
    align-items: center;
    margin-top: 3%;
    border-color: rgb(66, 99, 243);


}

/* footer style end */